.display-events {
  max-width: 100%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display-events th {
  padding: 10%;
}

.display-events button {
  margin-top: 2%;
  background-color: black;
}
