<div class="display-events">
  <table [dataSource]="dataSource" matSort class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let event" mat-cell> {{ event?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
      <td *matCellDef="let event" mat-cell> {{event?.date | date: "dd/MM/yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Location</th>
      <td *matCellDef="let event" mat-cell> {{event?.location}}</td>
    </ng-container>


    <ng-container matColumnDef="details">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>View Event Details</th>
      <td *matCellDef="let event" mat-cell>
        <mat-icon (click)="viewEventDetails(event?.id)"
                  class="material-icons delete-btn" matTooltip="View Event Details">info
        </mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="eventList.length===0">
    <p>You have no events.</p>
  </div>
  <br>
  <div class="create-event-button">
    <button (click)="openCreateEventDialog()" class="color-secondary add-btn" mat-fab matTooltip="Create new event">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
