<div class="edit-profile-wrapper">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>
    <mat-divider></mat-divider>
    <div>
      <mat-label>Profile picture</mat-label>
      <input class="input-profile-pic" name="profilePic" accept=".jpeg, .jpg, .png" id="profilePic" type="file"
             (change)="fileEvent($event)"
             placeholder="Profile picture">
      <span *ngIf="this.file?.size>1000000">Image is too large, 1MB is max!</span>
    </div>
    <button (click)="updateProfile()" class="save-btn" color="primary" mat-raised-button
            [disabled]="this.file?.size>1000000 || form.invalid">Update
    </button>
  </form>
</div>
