.main-content {
  background-color: #303035;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
  color: #FFC947;
}

.login {
  width: clamp(300px, 50%, 700px);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

mat-form-field {
  width: 60%;
  background: transparent;
}

input {
  color: white !important;
}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.tabs-and-heading-sticky {
}

.login-btn:disabled {
  color: transparent !important;
  transition: 150ms ease-in-out;
}

.login-btn {
  background: transparent !important;
  border: 2.5px solid black !important;
  color: white !important;
  box-shadow: 5px 2.5px 0 0 black !important;
  transition: 150ms ease-in-out;
}

.login-btn:hover {
  transition: 150ms ease-in-out;
  background: #FFC947 !important;
  color: black !important;
  box-shadow: 0 0 0 0 black !important;
}
