body {
  background: #303035;
}

.side-navbar {
  background-color: #0A1931;
  min-width: 10%;
}

mat-drawer-content {
  height: 100vh !important;
}

.role-menu-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

mat-icon {
  color: white !important;
}

.menu-item-title {
  color: white;
}

.role-menu-list .role-menu-list-item {
  color: white !important;
  cursor: pointer;
  font-size: 20px !important;
  height: 100%;
  padding-block: 0.25rem;
}

.role-menu-list .role-menu-list-item:hover {
  background-color: #185ADB;
  transition: background-color 150ms linear;
}

.isum-logo {
  margin-top: 1em;
  padding-left: 20px;
}

#hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {

  #hamburger {
    display: initial;
    position: fixed;
    z-index: 1;
  }

}

*:focus {
  border: none;
  outline: none;
}

