<mat-drawer-container class="navbar-container">
  <mat-drawer #sidenav [opened]="opened" id="menu" [mode]="mode" class="side-navbar">
    <hr>

    <mat-list class="role-menu-list">


      <mat-list-item *ngFor="let menuItem of menuItems" class="role-menu-list-item" mat-line
                     routerLink="{{menuItem?.path}}" (click)="sideNavCloseOnMobile()">
        <mat-icon mat-list-icon>{{menuItem?.icon}}</mat-icon>
        <div class="menu-item-title">{{menuItem?.title}}</div>
      </mat-list-item>
      <div>
        <hr>
      </div>
      <mat-list-item class="role-menu-list-item logout" (click)="logout()" mat-line>
        <mat-icon mat-list-icon>meeting_room</mat-icon>
        <div class="menu-item-title">Logout</div>
      </mat-list-item>

    </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    <button *ngIf="authService.isLoggedIn" (click)="sidenav.toggle()" id="hamburger" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
