<div class="wrapper">
  <div class="user">
    <img alt="Profile photo"
         src="{{user?.profilePhoto || 'https://avatars.dicebear.com/api/croodles/stefan.svg'}}">

    <div class="user-name">
      <h4>{{user?.name}} {{user?.lastName}}</h4>
      <div class="edit-dialog">
        <button (click)="openEditDialog(user)" class="edit-button" color="primary" mat-raised-button>Edit</button>
      </div>
    </div>
  </div>
  <div class="user-table">
    <table class="moj-profil-tabela">
      <tbody>
      <tr>
        <td><span class="material-icons">group_work</span></td>
        <td><span>You organized {{numberOfEventsOrganized}} event(s).</span></td>
      </tr>
      <tr>
        <td><span class="material-icons">library_music</span></td>
        <td><span>You suggested {{numberOfEventSuggestions}} song(s).</span></td>
      </tr>
      <tr>
        <td><span class="material-icons">thumb_up</span></td>
        <td><span>You liked {{numberOfLikedSuggestions}} song suggestion(s).</span></td>
      </tr>
      <tr>
        <td><span class="material-icons">thumb_down</span></td>
        <td><span>You disliked {{numberOfDislikedSuggestions}} song suggestion(s).</span></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
