<div class="event-info">
  <h2>Event: {{event?.name}}</h2>
  <h2>Date: {{event?.date}}</h2>
  <h2>Location: {{event?.location}}</h2>
</div>
<div class="add-song">
  <button (click)="openEventSuggestionDialog()" class="color-secondary add-btn" mat-fab
          matTooltip="Add event suggestion">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="invite-user">
  <button (click)="openInviteUserDialog()" class="color-secondary add-btn" mat-fab
          matTooltip="Invite user to event">
    <mat-icon>person</mat-icon>
  </button>
</div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let eventSuggestion of eventSuggestionList" cdkDrag>
    <h3 class="song-title">{{eventSuggestion.title}}</h3>
    <div [innerHTML]="iframe_start +  eventSuggestion?.url + iframe_end | safe: 'html'"></div>
  </div>
</div>

