<div class="event-info">
  <h2>Event: <span class="event-name">{{event.name}}</span></h2>
  <h2>{{event.date | date: "dd.MM.yyyy" }}</h2>
  <h2>Location: <span class="event-location">{{event.location}}</span></h2>
</div>
<div class="event-actions">
  <div class="add-song">
    <button (click)="openEventSuggestionDialog()" class="color-secondary add-btn" mat-fab
            matTooltip="Add event suggestion">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="view-participants" *ngIf="eventParticipant.organizer">
    <button (click)="openViewEventParticipantsDialog()" class="color-secondary add-btn" mat-fab
            matTooltip="View event participants">
      <mat-icon>groups</mat-icon>
    </button>
  </div>
  <div class="delete-event" *ngIf="eventParticipant.organizer">
    <button (click)="deleteEvent()" class="color-secondary add-btn" mat-fab
            matTooltip="Delete Event">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

  <div class="help-wrapper">
    <div class="tip-wrapper">
      <span class="tip"><span style="color: #FFC947">Rearrange</span> the suggestions</span>
    </div>

    <div class="example-box" *ngFor="let eventSuggestion of eventSuggestionList" cdkDrag>
      <div class="title-wrapper">
        <h3 class="song-title">{{eventSuggestion.title}}</h3>
        <h4 class="song-title">Contributed
          by {{contributorsMap.get(getEventSuggestionID(eventSuggestion))?.username}}</h4>
        <img alt="Profile photo" class="profile-img"
             src="{{contributorsMap.get(getEventSuggestionID(eventSuggestion))?.profilePhoto || 'https://avatars.dicebear.com/api/croodles/stefan.svg'}}">
      </div>

      <div class="item-actions">
        <div class="action">
          <button [ngClass]="{'liked' : isLiked, '' : isLiked === false}" (click)="vote(eventSuggestion, true)"
                  class="color-secondary add-btn" mat-fab>
            <mat-icon>thumb_up</mat-icon>
          </button>
          <div *ngIf="didUserLike(eventSuggestion)">
            <span>Liked</span>
          </div>
        </div>

        <div>
          {{getNumberOfLikes(eventSuggestion)}}
        </div>

        <div class="action">
          <button [ngClass]="{'disliked' : isDisliked, '' : isDisliked === false}"
                  (click)="vote(eventSuggestion, false)"
                  class="color-secondary add-btn" mat-fab>
            <mat-icon>thumb_down</mat-icon>
          </button>
          <div *ngIf="didUserDislike(eventSuggestion)">
            <span>Disliked</span>
          </div>
        </div>

        <div>
          {{getNumberOfDislikes(eventSuggestion)}}
        </div>

        <div class="action" *ngIf="eventParticipant.organizer || eventSuggestion.creatorUserId === user.id">
          <button (click)="deleteSuggestion(eventSuggestion)" class="color-secondary add-btn" mat-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>

      <div class="yt-hook" [innerHTML]="iframe_start +  eventSuggestion?.url + iframe_end | safe: 'html'"></div>

    </div>
  </div>
</div>
<div class="no-suggestions" *ngIf="this.eventSuggestionList.length === 0">
  <span class="no-suggestions-text">No suggestions yet</span>
</div>
